
body {
  --primary: #409eff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --main: #FF5B4B;;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --muted: #6c757d;
  --white: #fff;
  --borderColor: #eeeeee;
  --lightmuted: #b2b2b2;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', sans-serif, 'Microsoft YaHei', 'Droid Sans Fallback';
  line-height: 1.15;
  background: #f5f5fa;
}
.clr:after {
  display: block;
  clear: both;
  content: ' ';
  height: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.block {
  display: block;
}
.border-box{
  box-sizing: border-box;
}
.position-sticky{
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.position-fixed{
  position: fixed;
}
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.justify-center{
  display: flex;
  justify-content: center;
}

.justify-between{
  display: flex;
  justify-content: space-between;
}
.justify-around{
  display: flex;
  justify-content: space-around;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.align-center{
  display: flex;
  align-items: center;
}

/* flex布局 */
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-shrink {
  flex-shrink: 0;
}
.j-start {
  justify-content: flex-start;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-sb {
  justify-content: space-between;
}
.j-sa {
  justify-content: space-around;
}
.a-center {
  align-items: center;
}
.a-start {
  align-items: flex-start;
}
.a-end {
  align-items: flex-end;
}
.a-stretch {
  align-items: stretch;
}
.a-self-start {
  align-self: flex-start;
}
.a-self-auto {
  align-self: auto;
}
.a-self-end {
  align-self: flex-end;
}
.a-self-stretch {
  align-self: stretch;
}
.a-self-baseline {
  align-self: baseline;
}
/* Border */
.border {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.border-top {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee;
}
.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
}
.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.border-left {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}
.border-none{
  border: none !important
}
.border-0 {
  border-width: 0;
}
.border-top-0 {
  border-top-width: 0;
}
.border-right-0 {
  border-right-width: 0;
}
.border-bottom-0 {
  border-bottom-width: 0;
}
.border-left-0 {
  border-left-width: 0;
}

.border-primary {
  border-color: #409eff !important;
}
.border-secondary {
  border-color: #6c757d !important;
}
.border-success {
  border-color: #28a745 !important;
}
.border-danger {
  border-color: #dc3545 !important;
}
.border-warning {
  border-color:  #ffc107 !important;
}
.border-info {
  border-color: #17a2b8 !important;
}
.border-light {
  border-color: #f8f9fa !important;
}
.border-dark {
  border-color: #343a40 !important;
}
.border-white {
  border-color: var(--white) !important;
}
.border-light-secondary {
  border-color: #f1f1f1 !important;
}
.rounded-2 {
  border-radius: 2px;
  overflow: hidden;
}
.rounded-5 {
  border-radius: 5px;
  overflow: hidden;
}
.rounded-circle {
  border-radius: 100%;
}
.rounded-0 {
  border-radius: 0;
  overflow: hidden;
}
.border-dot{
  border: 1px dotted #eeeeee !important;
}
/* color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color:  #6c757d !important;
}
.text-success {
  color: #28a745 !important;
}
.text-danger {
  color: #dc3545 !important;
}
.text-warning {
  color:  #ffc107 !important;
}
.text-info {
  color: #17a2b8 !important;
}
.text-light {
  color: #f8f9fa !important;
}
.text-dark {
  color: #343a40 !important;
}
.text-muted {
  color: #6c757d !important;
}
.text-light-muted {
  color: #b2b2b2 !important;
}
.text-white {
  color: var(--white) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color:  #6c757d !important;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-danger {
  background-color:  #dc3545 !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-light-secondary {
  background-color: #f1f1f1 !important;
}

/* Spacing */
.m-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.m-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.m-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mlr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mlr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mlr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mlr-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.mlr-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mlr-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mlr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mlr-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.mlr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mlr-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.mlr-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mtb-9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}
.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mtb-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mtb-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-96 {
  margin-top: 96px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.mb-9 {
  margin-bottom: 9px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-auto {
  margin-left: auto !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-24 {
  margin-left: 24px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-31 {
  margin-left: 31px !important;
}
.ml-32 {
  margin-left: 32px !important;
}
.ml-33 {
  margin-left: 33px !important;
}
.ml-34 {
  margin-left: 34px !important;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-36 {
  margin-left: 36px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-43 {
  margin-left: 43px !important;
}
.ml-50 {
  margin-left: 50px !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-60 {
  margin-right: 60px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.p-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.p-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 24px !important;
  padding-bottom: 20px !important;
}
.p-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.p-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.plr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.plr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.plr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.plr-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.plr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.plr-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.plr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.plr-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.plr-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ptb-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-96 {
  padding-top: 96px ;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pl-50 {
  padding-left: 50px !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-12 {
  padding-right: 12px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.overflow-auto{
  overflow: auto;
}
.overflow-x{
  overflow-x: auto;
}
.overflow-y{
  overflow-y: auto;
}
.overflow-hide {
  overflow: hidden;
}
/* 圆弧 */
.border-r4{
  border-radius:4px;
  overflow: hidden;
}
.border-r6{
  border-radius:6px;
  overflow: hidden;
}
.border-r8{
  border-radius:8px;
  overflow: hidden;
}
.border-r10{
  border-radius:10px;
  overflow: hidden;
}
.fs-12{
  font-size: 12px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}
.fs-20{
  font-size: 20px !important;
}
.cup{
  cursor: pointer;
}
.under-line{
  text-decoration: underline;
}
.cup-unline {
  cursor: pointer;
  text-decoration: underline;
}
.line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.success{
  color: #07c160 !important;
}
.colorR {
  color: red;
}
.mainColor{
  color: #FF5948 !important;
}
.main-color {
  color: rgb(226, 49, 17) !important;
}
.bold{
  font-weight: bold;
}
.colorW {
  color: #ffffff;
}
.color333{
  color: #333333;
}
.color666{
  color: #666666;
}
.color999{
  color: #999999;
}
.colorblue{
  color: #4F79F5 !important;
}

.article-detail-wrapper .webtax_link{
  cursor: pointer;
}
.monthly-detail .webtax_link{
  cursor: pointer;
}
.article-detail-wrapper a[rel="webtax"]{
  cursor: pointer;
  color: #4f79f5;
}
.h-link:hover{
  text-decoration: underline;
  color: #4F79F5;
}

.tag-before {
  position: relative;
  padding-left: 10px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  line-height: 28px;
}
.tag-before::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  background-color: #ff5948;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
  border-radius: 2px;
  overflow: hidden;
}
.dir-line {
  width: 100%;
  height: 3px;
  background:rgba(0,0,0,0.05);
}
.dir-line-1 {
  width: 100%;
  height: 1px;
  background:rgba(0,0,0,0.05);
}
.font-weight-600{
  font-weight: 600 !important;
}
.font-weight-bold{
  font-weight: bold;
}
.white-space {
  white-space: pre-wrap;
}
.text-indent {
  text-indent:2em;
}