@charset "utf-8";
@import "@/styles/base/base";
.footer-wrapper {
  background-color: #292c33;
  .about-us{
    border-bottom: 1px solid #666666;
    padding: 40px 0;
  }
  .about-desc{
    color: #ffffff;
    opacity: .6;
    line-height: 24px;
  }
  .footer-t {
    padding: 60px 0 64px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-b {
    // border-top: 1px solid #000;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.15);
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;

    line-height: 21px;
    padding: 16px 0;
    p {
      color: rgba(238, 238, 238, 1);
      width: 590px;
      margin: 0 auto;
      text-align: center;
    }
    a{
      color: #999999;
      text-decoration: underline;
    }
  }
  .footer-title {
    font-size: 32px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 32px;
    margin-bottom: 48px;
  }
  .company-info {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    >p {
      opacity: 0.6;
    }
  }
  .company-name {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 14px;
    margin-bottom: 16px;
  }
  .footer-t__r {
    display: flex;
    align-items: center;
    justify-content: center;
    .qrcode {
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .qrcode-img {
        margin-bottom: 24px;
        width: 120px;
        height: 120px;
      }
      .qrcode-title {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 14px;
        text-align: center;
      }
    }
  }
}
